@import './typography.css';

body {
  /* background-color: #333; */
  background-color: #183153;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif, sans-serif;
  margin: 0;
}
